<div class="content-heading ">
  Registrar Usuario
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> ->
    <a [routerLink]="['/users/manageUsers']"> Usuarios </a>-> Registrar Usuario
  </small>
</div>
<div class="container-md">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel b">
        <div class="panel-heading  text-bold bg-purple-dark">Información Personal</div>
        <form (ngSubmit)="onAddUsers(f)" #f="ngForm" autocomplete="off">
          <div class="panel-body">

            <div class="form-group col-md-6">
              <label>Primer Nombre*</label>
              <input class="form-control" type="text" name="name" id="name" [(ngModel)]="userDetails.name" placeholder="Ingrese Primer Nombre"
                required />
            </div>
            <div class="form-group col-md-6">
              <label>Segundo Nombre*</label>
              <input class="form-control" type="text" name="name2" id="name2" [(ngModel)]="userDetails.name2" placeholder="Ingrese Segundo Nombre"
                required />
            </div>
            <div class="form-group col-md-6">
              <label>Apellido Paterno*</label>
              <input class="form-control" type="text" name="ape_paterno" id="ape_paterno" [(ngModel)]="userDetails.ape_paterno" placeholder="Ingrese Apellido Paterno"
                required />
            </div>
            <div class="form-group col-md-6">
              <label>Apellido Materno*</label>
              <input class="form-control" type="text" name="ape_materno" id="ape_materno" [(ngModel)]="userDetails.ape_materno" placeholder="Ingrese Apellido Materno"
                required />
            </div>
            <div class="form-group col-md-6">
              <label>Correo Electrónico*</label>
              <input class="form-control" name="email" id="email" [(ngModel)]="userDetails.email" type="email" placeholder="Ingrese Correo Electrónico"
                required />
            </div>
            <div class="form-group col-md-6">
              <label>Teléfono Celular</label>
              <input autocomplete="nope" class="form-control" name="mobileNo" id="mobileNo" [(ngModel)]="userDetails.mobileNo" type="text"
                placeholder="Ingrese Teléfono Celular"/>
            </div>
            <div class="form-group col-md-12">
              <label>Contraseña*</label>
              <input autocomplete="new-password" class="form-control" type="password" name="password" id="password" [(ngModel)]="userDetails.password"
                placeholder="Ingrese Contraseña" required />
            </div>


          </div>
          <div class="panel-heading text-bold bg-purple-dark" style="border-top-right-radius: 0px; border-top-left-radius: 0px;">Información Institucional</div>
          <div class="panel-body">
            <div class="form-group col-md-6">
              <label>Institución*</label>
              <select class="form-control" name="category" id="category" [(ngModel)]="userDetails.category">
                <option *ngFor="let category of categories" value="{{category.key}}">
                  {{category.title}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label>Organización*</label>
              <select class="form-control" name="category" id="category" [(ngModel)]="userDetails.category">
                <option *ngFor="let category of categories" value="{{category.key}}">
                  {{category.title}}
                </option>
              </select>
            </div>
            
            <!--<div class="form-group col-md-6">
              <label>Organización*</label>
              <input class="form-control" type="text" name="name" id="name" [(ngModel)]="userDetails.name" placeholder="Ingresar Primer Nombre ..."
                required />
            </div>-->
            <div style="height: 20px;"></div>


          </div>
          <div style="padding: 0px 30px 30px 30px;">
            <button class="btn btn-danger pull-right s-n-btn" (click)="cancel()">Cancelar</button>
            <button class="btn btn-info pull-right" style="margin-right: 10px;" type="submit">Registrar</button>
            <p>
              <small class="text-muted">* Campos Requeridos</small>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
