<div class="content-heading">Vista de Usuario
<small>
        <a [routerLink]="['/users/manageUsers']"> Usuarios  </a>->
            Vista de Usuario
 </small>
 </div>
<div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="row">
                     <div class="col-lg-8">
                     <div class="row">
                    <div class="col-lg-5">
                        <h4 class="media-heading">Nombre Completo:</h4>
                    </div>
                    <div class="col-lg-6">
                        <p>{{userDetails.name}} {{userDetails.name2}} {{userDetails.ape_paterno}} {{userDetails.ape_materno}}</p>
                    </div>
                    </div>
                    </div>
                     <div class="col-lg-8">
                     <div class="row">

                    <div class="col-lg-5">
                        <h4 class="media-heading">Correo Electrónico:</h4>
                    </div>
                    <div class="col-lg-6">
                        <p>{{userDetails.email}}</p>
                    </div>
                    </div>
                    </div>
                     <div class="col-lg-8">
                     <div class="row">
                    <div class="col-lg-5">
                        <h4 class="media-heading">Teléfono Celular:</h4>
                    </div>
                    <div class="col-lg-6">
                        <p>{{userDetails.mobileNo}}</p>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
