<div class="content-heading">Divisiones
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/organizations/addOrganization'">
        <button class="btn btn-warning">
          <em class="fa fa-plus"></em>&nbsp;&nbsp; Registrar División</button>
      </a>
    </label>
  </div>
  <br/>
  <br/>
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> -> Divisiones</small>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Información de Divisiones</div>
  <div class="table-responsive b0 customTable" style="margin-right: 0px;">
    <table class="table table-striped" [mfData]="categories" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th class="thsearch text-center">
            <mfDefaultSorter by="siteName">División</mfDefaultSorter>
            <form (keyup)="getCategory(siteName.value)">
              <input class="form-control searchinput" type="text" name="siteVal" id="siteVal" [(ngModel)]="siteVal" placeholder="Buscar"
                #siteName>
            </form>
          </th>
          <th class="thnosearch text-center">
            <mfDefaultSorter>Institución</mfDefaultSorter>
          </th>
          <th class="thnosearch text-center">
            <mfDefaultSorter>Editar</mfDefaultSorter>
          </th>
          <th class="thnosearch text-center">
            <mfDefaultSorter>Eliminar</mfDefaultSorter>
          </th>
          <th class="thnosearch text-center">
            <mfDefaultSorter>Detalle</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class=" text-center" *ngFor="let item of mf.data">
          <td>{{item.nombre}}</td>
          <td>{{item.institucion_nombre}}</td>
          <td>
            <button class="btn btn-sm btn-primary" type="button" (click)="categoryEdit(item.key)">
              <em class="fa fa-pencil"></em>
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" type="button" (click)="categoryDelete(item.key)">
              <em class="fa fa-trash-o"></em>
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-default" type="button" (click)="categoryShow(item.key)">
              <em class="fa fa-search"></em>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="customPagination">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="panel-footer">
    <div class="row">

    </div>
  </div>
</div>
