<div class="content-heading">Users Detail
    <div class="pull-right">
        <label class="file-upload">
            <a [routerLink]="'/users/addUser'">
                <button class="btn btn-warning"><em class="fa fa-plus"></em>&nbsp;&nbsp; Add New User</button>
            </a>
        </label>
    </div>
    <small><a [routerLink]=" ['/home'] ">Dashboard</a> -> Users Detail</small>
</div>
<!-- Zero Configuration-->
<div class="panel panel-default">
    <div class="panel-heading">All Users Information</div>
    <div class="panel-body">
        <div class="table-responsive customTable">
            <table class="table table-striped" [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                <tr>
                    <th class="thsearch text-center">
                        <mfDefaultSorter by="siteName">Name</mfDefaultSorter>
                    </th>
                    <th class="thsearch text-center">
                        <mfDefaultSorter by="siteName">Email</mfDefaultSorter>
                    </th>
                    <th class="thsearch text-center">
                        <mfDefaultSorter by="siteName">Mobile Number</mfDefaultSorter>
                    </th>
                    <th class="thnosearch  text-center">
                        <mfDefaultSorter>View</mfDefaultSorter>
                    </th>
                    <th class="thnosearch  text-center">
                        <mfDefaultSorter>Delete</mfDefaultSorter>
                    </th>

                    <th class="thnoitem"></th>
                </tr>
                </thead>
                <tbody *ngFor="let item of mf.data">
                <tr class=" text-center" *ngIf="item.role != 'Admin'">
                    <td>{{item.name}}
                    <td>{{item.email}}</td>
                    <td>{{item.mobileNo}}</td>
                    <td>
                        <button class="btn btn-sm btn-default" type="button" (click)="usersShow(item.key)"><em
                                class="fa fa-search"></em></button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger" type="button" (click)="usersDelete(item.key)"><em
                                class="fa fa-trash-o"></em></button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
